@font-face {
  font-family: 'Pokemon Classic';
  src: url('../fonts/PokemonClassic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Utility class for using the font */
.font-pokemon {
  font-family: 'Pokemon Classic', sans-serif;
}

@font-face {
  font-family: 'Pokemon BW';
  src: url('../fonts/PokemonBW.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Utility class for using the font */
.font-pokemonbw {
  font-family: 'Pokemon BW', sans-serif;
}
